<form class="form-signin" name="form" novalidate="novalidate">
	<h2 class="form-signin-heading">Please sign in</h2>
	<!-- <label for="user">Email address: *</label> -->
	<input id="user" class="form-control" maxlength="60" name="user" placeholder="Email address" required="required" type="email" data-ng-model="input.user" data-ng-pattern="validation.contact.email" />
	<p data-ng-show="form.user.$invalid &amp;&amp; ! form.user.$pristine">Wrong email address.</p>

	<!-- <label for="password">Password: *</label> -->
	<input id="password" class="form-control" name="password" placeholder="Password" required="required" type="password" data-ng-model="input.password" data-ng-pattern="validation.login.password" />
	<p data-ng-show="form.password.$invalid &amp;&amp; ! form.password.$pristine">Wrong password.</p>

	<br />

	<label for="remember">
		<input id="remember" name="remember" type="checkbox" data-ng-model="input.remember" />Remember me
	</label>

	<button class="btn btn-lg btn-primary btn-block" type="submit" data-ng-click="action()" data-ng-disabled="form.$pristine">Sign in</button>
</form>	